In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1=pd.read_csv('Penguins+Analysis.csv')

In [3]:
df1

,species,island,culmen length,culmen depth,flipper length,body mass,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214,4925,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
331,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213,5400,MALE

In [4]:
df1['species'].value_counts()

species
Adelie       146
Gentoo       119
Chinstrap     68
Name: count, dtype: int64

In [8]:
df1.groupby('island')['species'].sum()

island
Biscoe       AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...
Dream        AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...
Torgersen    AdelieAdelieAdelieAdelieAdelieAdelieAdelieAdel...
Name: species, dtype: object

In [9]:
df1['island'].value_counts()

island
Biscoe       163
Dream        123
Torgersen     47
Name: count, dtype: int64

In [17]:
male_penguins = df1[df1['sex'] == 'Male']  # Assuming there's a 'Sex' column with values 'Male' and 'Female'
average_body_mass_by_species = male_penguins.groupby('species')['body mass'].mean()

In [18]:
average_body_mass_by_species

Series([], Name: body mass, dtype: float64)

In [19]:
df1.groupby('species')['body mass'].mean()

species
Adelie       3706.164384
Chinstrap    3733.088235
Gentoo       5092.436975
Name: body mass, dtype: float64

In [21]:
gentoo_females_biscoe = df1[(df1['species'] == 'Gentoo') & (df1['sex'] == 'FEMALE') & (df1['island'] == 'Biscoe')]

# Calculate average culmen depth for all female species
average_culmen_depth_all_females = df1[df1['sex'] == 'FEMALE'].groupby('species')['culmen depth'].mean()

# Check if the average culmen depth of Gentoo females on Biscoe island is the least
is_least_culmen_depth = (gentoo_females_biscoe['culmen depth'].mean() < average_culmen_depth_all_females).all()

if is_least_culmen_depth:
    print("Statement 1: The average culmen depth of Gentoo females on Biscoe island is the least among all female species.")
else:
    print("Statement 1: The statement is not true.")

# Statement 2: Average culmen depths of Adelie males on the three islands are different

# Filter data for Adelie males on the three islands
adelie_males = df1[(df1['species'] == 'Adelie') & (df1['sex'] == 'MALE')]

# Calculate average culmen depth for Adelie males on each island
average_culmen_depth_torgersen = adelie_males[adelie_males['island'] == 'Torgersen']['culmen depth'].mean()
average_culmen_depth_biscoe = adelie_males[adelie_males['island'] == 'Biscoe']['culmen depth'].mean()
average_culmen_depth_dream = adelie_males[adelie_males['island'] == 'Dream']['culmen depth'].mean()

# Check if the average culmen depths of Adelie males on the three islands are different
are_different_culmen_depths = (average_culmen_depth_torgersen != average_culmen_depth_biscoe != average_culmen_depth_dream)

if are_different_culmen_depths:
    print("Statement 2: The average culmen depths of Adelie males on the three islands are different.")
else:
    print("Statement 2: The statement is not true.")

Statement 1: The statement is not true.
Statement 2: The average culmen depths of Adelie males on the three islands are different.

In [22]:
female_penguins = df1[df1['sex'] == 'FEMALE']

# Find the species with the highest flipper length among female penguins
max_flipper_length_species = female_penguins.groupby('species')['flipper length'].max().idxmax()
max_flipper_length_value = female_penguins.groupby('species')['flipper length'].max().max()

# Print the result
print(f"The species with the highest flipper length among female penguins is {max_flipper_length_species} with a flipper length of {max_flipper_length_value:.2f} mm.")

The species with the highest flipper length among female penguins is Gentoo with a flipper length of 222.00 mm.

In [23]:
numeric_columns = df1.select_dtypes(include=['float64']).columns

# Calculate the Pearson correlation coefficient for all pairs of numeric variables
correlation_matrix = df1[numeric_columns].corr()

# Find the pair of variables with the highest correlation
max_correlation = correlation_matrix.unstack().sort_values(ascending=False).drop_duplicates().iloc[1]
max_correlation_variables = correlation_matrix.unstack().idxmax()

# Print the result
print(f"The pair of variables with the highest correlation is '{max_correlation_variables}' with a correlation coefficient of {max_correlation:.2f}.")

The pair of variables with the highest correlation is '('culmen length', 'culmen length')' with a correlation coefficient of -0.23.

In [24]:
df1

,species,island,culmen length,culmen depth,flipper length,body mass,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,MALE
1,Adelie,Torgersen,39.5,17.4,186,3800,FEMALE
2,Adelie,Torgersen,40.3,18.0,195,3250,FEMALE
3,Adelie,Torgersen,36.7,19.3,193,3450,FEMALE
4,Adelie,Torgersen,39.3,20.6,190,3650,MALE
...,...,...,...,...,...,...,...
328,Gentoo,Biscoe,47.2,13.7,214,4925,FEMALE
329,Gentoo,Biscoe,46.8,14.3,215,4850,FEMALE
330,Gentoo,Biscoe,50.4,15.7,222,5750,MALE
331,Gentoo,Biscoe,45.2,14.8,212,5200,FEMALE
332,Gentoo,Biscoe,49.9,16.1,213,5400,MALE

In [26]:
df1.iloc[0:3,2]

0    39.1
1    39.5
2    40.3
Name: culmen length, dtype: float64